
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

nav {
    display:flex;
    justify-content:space-between;
    font-family: 'Bangers', cursive;
    background-color: rgb(223, 205, 239);
    border-radius: 16px;
}

ul {
    list-style: none;
    display: flex;
}

li {
    margin-right: 15px;
    font: size 24px;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255)
}

h1 {
    color:rgb(62, 7, 63);
    text-align: center;
}

.perfil {
    display: flex;
    width:70vw;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(245, 224, 245);
    border-radius: 15px;
}

.foto {
    width:150px;
    
}

h2 {
    color:rgb(62, 7, 63);
    text-align: center;
}

.generation {
    display: flex;
    flex-direction: column;
    align-items:center;
    width:70vw;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(216, 197, 216);
    border-radius: 15px;
}

footer {
    display: flex;
    justify-content: center;
}

.tm-social {
    width:30px;
    height:30px;
    padding: 30px;
}

